#map {
  width: 900px;
  height: 500px;
  padding: 5px;
  visibility: hidden;
  margin-left: 30px;
}

#map2 {
  width: 750px;
  height: 500px;
  padding: 10px;
  margin: auto;
  float: left;
}

#itin {
	visibility: hidden;
	height: 500px;
	overflow: scroll;
    border-style: solid;
}

#itinerary {
  visibility: hidden;
}

#getDir {
	visibility: hidden;
}

#save, #add {
	margin: auto;
}

#dir {
	height: 500px;
	width: 35%;
	overflow: scroll;
	padding-left: 10px;
}

#text {
	float: left;
	font-size: 45px;
	margin-left: 50px;
}

#wrapper {
	margin-top: 50px;
	margin-right: 20px;
}

#wrapper2 {
	visibility: hidden;
/*	margin-top: 200px;*/
	margin-top: 20%;
}

/*#toTop {
	margin-left: 50px;
}
*/